
.container {
    width: 100vw;
    height: 100vh;
    background-color: #FBB030;

    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-terminal {
    position: relative;
    width: 50%;
    /* max-width: 600px; */
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    
  }

  .advice-terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .advice-terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    .advice-terminal {
      width: 90%;
    }
}

.advice-container {
  margin-left: 20px;
  margin-right: 20px;
}

.advice {
    /* background-color: ; */
    color: white;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:2rem;
    text-align: center;
    padding: 5px;
    min-height: 100px;
    overflow: hidden;
}

.btn {
  display: block;
    padding: 5px;
    margin: 35px;
    width: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    border: none;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.loading, .error-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.error-container {
  background: url(../assets/high-five-fail.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.306);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.fivehundread {
  display: block;
  font-size: 100px;
  font-weight: bold;
  margin: 25px;
}

.error1 {
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}

.error2 {
  font-size: 1.5rem;
  text-align: center;
}
.error-image {
  width: 30%;
}

.mask button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  color: #000;
}

.mask button:hover {
  background-color: rgb(128, 127, 127);
  color: white;
}
